<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow">
  <!-- Container wrapper -->
  <div class="container-fluid navbar-container">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="./assets/log.png"
          height="40"
          alt="BiletSfera"
          loading="lazy"
        />
      </a>
      <!-- Left links -->
      <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="nav-item">
            <a class="nav-link" href="#">Jesteś organizatorem?</a>
          </div>
        </ul>
<!--        <form class="d-flex input-group w-50">-->
<!--          <input-->
<!--            type="search"-->
<!--            class="form-control rounded"-->
<!--            placeholder="Search"-->
<!--            aria-label="Search"-->
<!--            aria-describedby="search-addon"-->
<!--          />-->
<!--          <span class="input-group-text text-white border-0" id="search-addon">-->
<!--            <i class="fas fa-search fa-lg" style="color: var(&#45;&#45;third-color)"></i>-->
<!--          </span>-->
<!--        </form>-->
      </div>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Likes -->
      <div class="position-relative me-5" *ngIf="authService.isLoggedIn()">
        <a [routerLink]="['/wishlist']">
<!--        <i class="fas fa-heart fa-lg icon"></i>-->
        <i class="fa-solid fa-bell fa-lg icon"></i>
        <span class="badge rounded-pill badge-notification icon-bg">{{ followedCount }}</span>
      </a>
      </div>

      <!-- Tickets icon -->
      <div class="position-relative me-5" style="cursor: pointer;">
        <a id="ticketIcon" class="text-reset me-3 ticket-icon" (click)="toggleSidebar()">
          <i class="fas fa-ticket fa-lg icon"></i>
          <span class="badge rounded-pill badge-notification icon-bg">{{ ticketCount }}</span>
        </a>
      </div>

    <!--  Sidebar  -->
      <div [ngClass]="{'show': isSidebarVisible}" id="ticketSidebar" class="sidebar position-fixed bg-light">
        <div class="sidebar-content">
          <div class="close-icon" (click)="toggleSidebar()">
            <i class="fas fa-times fa-lg"></i>
          </div>
          <h2>Twoje bilety</h2>
          <ul>
            <li *ngFor="let cartItem of cartData?.cart">
              <div class="menu-item">
                <div class="left-section">
                  <div class="title">{{ cartItem.event.title }}</div>
                  <p class="date">Date: <span>{{ cartItem.event.date }}</span></p>
                  <p class="location">Location: <span>{{ cartItem.event.location }}</span></p>
                </div>
                <div class="right-section">
                  <button class="btn minus-btn" (click)="removeTicketFromCart(cartItem.event._id, cartItem.tickets[0]._id)"><i class="fas fa-minus"></i></button>
                  <div class="counter">{{ cartItem.tickets[0].quantity }}</div>
                  <button class="btn plus-btn" (click)="addTicketToCart(cartItem.event._id, cartItem.tickets[0]._id)"><i class="fas fa-plus"></i></button>
                </div>
              </div>
            </li>
          </ul>

          <!--Bottom section-->
          <div class="bottom-section">
            <div class="cart-summary">
              <span class="label">Suma:</span>
              <span class="price">{{ getTotalSum() }} zł</span>
            </div>
            <button class="sidebar-btn" [routerLink]="['/cart']">Koszyk</button>
            <button class="sidebar-btn-var">Kup bilety</button>
          </div>
        </div>
      </div>

      <div class="backdrop" [ngClass]="{'show': isSidebarVisible}" (click)="toggleSidebar()"></div>

      <!-- Profil -->
      <div class="dropdown" (window:resize)="onWindowResize()">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
          (click)="toggleDropdown()"
        >
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="40"
            alt="Avatar Image"
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end dropdown-menu-start ml-4 rounded-0"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li><h5 class="dropdown-header mb-0 text">Główne</h5></li>
          <li>
            <a class="dropdown-item" [routerLink]="'/events'">Wydarzenia</a>
          </li>
          <li><h5 class="dropdown-header mb-0 text">Moje</h5></li>
          <li>
            <a class="dropdown-item" [routerLink]="['/cart']">Koszyk({{ ticketCount }})</a>
          </li>
          <li *ngIf="authService.isLoggedIn()">
            <a class="dropdown-item" [routerLink]="['/wishlist']">Obserwowane({{ followedCount }})</a>
          </li>
          <li *ngIf="authService.isLoggedIn()">
            <a class="dropdown-item" [routerLink]="['/liked']">Polubione({{ likedCount }})</a>
          </li>
          <li><h5 class="dropdown-header mb-0 text">Opcje</h5></li>
          <li *ngIf="!authService.isLoggedIn()">
            <a class="dropdown-item" [routerLink]="['/login']">Zaloguj się</a>
          </li>
          <li *ngIf="!authService.isLoggedIn()">
            <a class="dropdown-item" [routerLink]="['/login']" [queryParams]="{ register: true }">Zarejestruj się</a>
          </li>
          <li *ngIf="authService.isLoggedIn()">
            <a class="dropdown-item" (click)="signOut()" style="cursor: pointer">Wyloguj się</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <div id="dropdown2" class="dropdown2" [ngClass]="{'show': isDropdownVisible}">
    <ul
      class="align-center-column"
    >
      <div class="align-center-row">
        <li>
          <a [routerLink]="'/events'">Wydarzenia</a>
        </li>
        <li>
          <a [routerLink]="['/cart']">Koszyk({{ ticketCount }})</a>
        </li>
        <li *ngIf="authService.isLoggedIn()">
          <a [routerLink]="['/liked']" >Polubienia(0)</a>
        </li>
        <li *ngIf="authService.isLoggedIn()" >
          <a [routerLink]="['/wishlist']">Obserwowane(0)</a>
        </li>
        <li *ngIf="!authService.isLoggedIn()" >
          <a [routerLink]="['/login']">Zaloguj się</a>
        </li>
        <li *ngIf="!authService.isLoggedIn()">
          <a [routerLink]="['/login']" [queryParams]="{ register: true }">Zarejestruj się</a>
        </li>
        <li *ngIf="authService.isLoggedIn()" (click)="signOut()">
          <a style="cursor: pointer">Wyloguj się</a>
        </li>
      </div>
    </ul>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->


