<nav-bar></nav-bar>
<div class="main">
  <div class="event-bar">
    <div class="manager-btn" [class.manager-btn-active]="activeEventsVisible" (click)="showActiveEvents()">
      <h3 [style.color]="activeEventsVisible ? '#2d1a42' : '#7d7d7d'">Aktywne wydarzenia</h3>
    </div>

    <div class="manager-btn" [class.manager-btn-active]="reportsVisible" (click)="showReports()">
      <h3 [style.color]="reportsVisible ? '#2d1a42' : '#7d7d7d'">Raporty i statystyki</h3>
    </div>

    <div class="manager-btn" [class.manager-btn-active]="eventCreationVisible" (click)="showEventCreation()">
      <h3 [style.color]="eventCreationVisible ? '#2d1a42' : '#7d7d7d'">Stwórz nowe wydarzenie</h3>
    </div>
  </div>

  <div *ngIf="activeEventsVisible" class="align-center-column-image">
    <!-- Content for Active Events -->
    <div class="panel-div" *ngIf="!areEventsPresent">
      <img src="././assets/img/calendar.png" alt="No events image" class="calendar-img">
      <div class="missing-text">
        <h4>Brak aktywnych wydarzeń</h4>
      </div>
      <div class="create-event-btn">
        <h4>Utwórz wydarzenie</h4>
      </div>
    </div>

    <!--TODO: podzielić panele na osobne komponenty-->
    <!--ACTIVE EVENTS-->
    <div class="panel-div-row" *ngIf="areEventsPresent">
      <div class="event">
        <div class="button-container">
          <i class="fa-solid fa-edit"></i>
        </div>
        <div class="image-container">
          <img [src]="image" alt="Card Image" class="event-img">
        </div>
        <div class="content-top">
          <div class="event-title-container">
            <p style="font-size: 22px" class="event-title">Top TOP Festiwal SOPOT</p>
          </div>
        </div>
        <div class="content-bottom">
          <div class="align-left-row-icon">
            <i class="fa-solid fa-calendar icon"></i><p class="event-info">11.10.2023</p>
          </div>
          <div class="align-left-row-icon">
            <i class="fa-solid fa-location-crosshairs icon"></i><p class="event-info">Tarnów</p>
          </div>
        </div>

        <div class="align-center-row" style="margin: 8px 10px; justify-content: space-between; ">
            <div class="icon-container">
              <i class="fa-solid fa-ticket icon" style="color: var(--main-bg-color)"></i>
              <p style="color: var(--main-bg-color)" class="event-info">2137</p>
            </div>
          <div class="icon-container">
            <i class="fa-solid fa-eye icon" style="color: #00679f"></i>
            <p style="color: #00679f" class="event-info">18273</p>
          </div>
          <div class="icon-container">
            <i class="fa-solid fa-money-bill-1-wave icon" style="color: var(--secondary-variant-color)"></i>
            <p class="event-info" style="color: var(--secondary-variant-color)">2543 zł</p>
          </div>
        </div>
      </div>
    <!--End of event-->
      <div class="event">
        <div class="button-container">
          <i class="fa-solid fa-edit"></i>
        </div>
        <div class="image-container">
          <img [src]="image" alt="Card Image" class="event-img">
        </div>
        <div class="content-top">
          <div class="event-title-container">
            <p style="font-size: 22px" class="event-title">Top TOP Festiwal SOPOT</p>
          </div>
        </div>
        <div class="content-bottom">
          <div class="align-left-row-icon">
            <i class="fa-solid fa-calendar icon"></i><p class="event-info">11.10.2023</p>
          </div>
          <div class="align-left-row-icon">
            <i class="fa-solid fa-location-crosshairs icon"></i><p class="event-info">Tarnów</p>
          </div>
        </div>

        <div class="align-center-row" style="margin: 8px 10px; justify-content: space-between; ">
          <div class="icon-container">
            <i class="fa-solid fa-ticket icon" style="color: var(--main-bg-color)"></i>
            <p style="color: var(--main-bg-color)" class="event-info">2137</p>
          </div>
          <div class="icon-container">
            <i class="fa-solid fa-eye icon" style="color: #00679f"></i>
            <p style="color: #00679f" class="event-info">18273</p>
          </div>
          <div class="icon-container">
            <i class="fa-solid fa-money-bill-1-wave icon" style="color: var(--secondary-variant-color)"></i>
            <p class="event-info" style="color: var(--secondary-variant-color)">2543 zł</p>
          </div>
        </div>
      </div>
    </div>
  <!-- End of main -->
  </div>

  <!--RAPORTS-->
  <div class="panel-div" *ngIf="reportsVisible">
    <div class="title-container">
      <h2>Statystyki</h2>
    </div>

    <div class="tile-wrapper">
      <div class="tile">
        <h3>21549 zł</h3>
        <span class="tile-value">Całkowite zarobki</span>
      </div>
      <div class="tile">
        <h3>2501</h3>
        <span class="tile-value">Sprzedanych biletów</span>
      </div>
      <div class="tile">
        <h3>102936</h3>
        <span class="tile-value">Całkowite wyświetlenia</span>
      </div>
      <div class="tile">
        <h3>5</h3>
        <span class="tile-value">Utworzonych wydarzeń</span>
      </div>
    </div>

<!--    <ngx-charts-pie-chart-->
<!--      [view]="[1000,400]"-->
<!--      [results]="saleData"-->
<!--      [legendTitle]="'Product Sale Chart'"-->
<!--      [legend]="true"-->
<!--      [gradient]="true">-->
<!--    </ngx-charts-pie-chart>    -->

   <div class="chart-container">
     <ngx-charts-line-chart

     [legend]="legend"
     [showXAxisLabel]="showXAxisLabel"
     [showYAxisLabel]="showYAxisLabel"
     [xAxis]="xAxis"
     [yAxis]="yAxis"
     [xAxisLabel]="xAxisLabel"
     [yAxisLabel]="yAxisLabel"
     [timeline]="timeline"
     [results]="saleData"
     [scheme]="colorScheme"
     [legendTitle]="legendTitle"
     [autoScale]="true"
     >
      </ngx-charts-line-chart>
   </div>

    <div class="title-container">
      <h2>Aktywne wydarzenia</h2>
    </div>

    <div class="events-container">
      <div class="event-wide">
        <div class="img">
          <img [src]="image" alt="Event image">
        </div>
        <div class="event-desc-container">
          <div class="event-wide-title">Top top FESTIVAL Sopot</div>
          <div class="align-left-row-icon">
            <i class="fa-solid fa-location-crosshairs icon"></i>
            <p class="event-info">Tarnów, Hala TOSIR</p>
          </div>
        </div>
      </div>
      <div class="event-wide">
        <div class="img">
          <img [src]="image" alt="Event image">
        </div>
        <div class="event-desc-container">
          <div class="event-wide-title">Top top FESTIVAL Sopot</div>
          <div class="align-left-row-icon">
            <i class="fa-solid fa-location-crosshairs icon"></i>
            <p class="event-info">Tarnów, Hala TOSIR</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--EVENT CREATOR-->
  <div *ngIf="eventCreationVisible" class="panel-div-reports">

    <div class="side-bar">
      <div class="step">
        <div class="icon-container">
          <i class="fa-solid fa-calendar-plus icon" style="color: var(--third-color)"></i>
          <p style="color: var(--third-color)" class="progress-step-title">Dodaj szczegóły wydarzenia</p>
        </div>
      </div>

      <!--Progress step 1-->
      <div class="progress-indicator-details">
        <div class="align-center-row progress-container">
          <div class="circle" [ngClass]="{'circle-filled': stepNumber >= 1 && stepNumber <= 6}"  (click)="toggleCreatorPanel('basicInfo')"></div>
          <div class="text">Podstawowe informacje</div>
        </div>

        <div class="align-center-row progress-container">
          <div class="circle" [ngClass]="{'circle-filled': stepNumber >= 2 && stepNumber <= 6}" (click)="toggleCreatorPanel('location')"></div>
          <div class="text">Lokalizacja</div>
        </div>

        <div class="align-center-row progress-container">
          <div class="circle" [ngClass]="{'circle-filled': stepNumber >= 3 && stepNumber <= 6}" (click)="toggleCreatorPanel('poster')"></div>
          <div class="text">Plakat promocyjny</div>
        </div>

        <div class="align-center-row progress-container">
          <div class="circle" [ngClass]="{'circle-filled': stepNumber >= 4 && stepNumber <= 6}" (click)="toggleCreatorPanel('additionalInfo')"></div>
          <div class="text">Dodatkowe informacje</div>
        </div>

      </div>

      <div class="step">
        <div class="icon-container">
          <i class="fa-solid fa-ticket icon" style="color: var(--third-color)"></i>
          <p style="color: var(--third-color)" class="progress-step-title">Dodaj bilety</p>
        </div>
      </div>

      <!--Progress step 2-->
      <div class="progress-indicator-details">
        <div class="align-center-row progress-container">
          <div class="circle" [ngClass]="{'circle-filled': stepNumber >= 5 && stepNumber <= 6}" (click)="toggleCreatorPanel('details')"></div>
          <div class="text">Szczegóły biletów</div>
        </div>
      </div>

      <div class="step">
        <div class="icon-container">
          <i class="fa-solid fa-star icon" style="color: var(--third-color)"></i>
          <p style="color: var(--third-color)" class="progress-step-title">Dodaj artystów (opcjonalne)</p>
        </div>
      </div>

      <!--Progress step 3-->
      <div class="progress-indicator-details">
        <div class="align-center-row progress-container">
          <div class="circle" [ngClass]="{'circle-filled': stepNumber == 6}" (click)="toggleCreatorPanel('artists')"></div>
          <div class="text">Artyści biorący udział</div>
        </div>
      </div>


      <!--Side bar end -->
    </div>

    <div class="creator-panel">
    <!--Step 1-->
      <div class="basicInfo" *ngIf="basicInfoVisible">
        <h2>Nazwa wydarzenia</h2>
<!--        <input type="text" class="input-normal" name="event_name" id="event_name" placeholder="Wprowadź nazwę wydarzenia">-->
        <input type="text" class="input-normal" [(ngModel)]="eventName" name="event_name" id="event_name" placeholder="Wprowadź nazwę wydarzenia">

        <h2>Wybierz kategorie</h2>
        <div class="categories">
          <div class="category-tile"
               [class.category-tile]="!isCategorySelected('Muzyka')"
               [class.category-tile-activated]="isCategorySelected('Muzyka')"
               (click)="toggleCategory('category','Muzyka')">
            <span>Muzyka</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isCategorySelected('Kino')"
               [class.category-tile-activated]="isCategorySelected('Kino')"
               (click)="toggleCategory('category','Kino')">
            <span>Kino</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isCategorySelected('Teatr')"
               [class.category-tile-activated]="isCategorySelected('Teatr')"
               (click)="toggleCategory('category','Teatr')">
            <span>Teatr</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isCategorySelected('Targi')"
               [class.category-tile-activated]="isCategorySelected('Targi')"
               (click)="toggleCategory('category','Targi')">
            <span>Targi</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isCategorySelected('Konwenty')"
               [class.category-tile-activated]="isCategorySelected('Konwenty')"
               (click)="toggleCategory('category','Konwenty')">
            <span>Konwenty</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isCategorySelected('Sport')"
               [class.category-tile-activated]="isCategorySelected('Sport')"
               (click)="toggleCategory('category','Sport')">
            <span>Sport</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isCategorySelected('Zwiedzanie')"
               [class.category-tile-activated]="isCategorySelected('Zwiedzanie')"
               (click)="toggleCategory('category','Zwiedzanie')">
            <span>Zwiedzanie</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isCategorySelected('Inne')"
               [class.category-tile-activated]="isCategorySelected('Inne')"
               (click)="toggleCategory('category','Inne')">
            <span>Inne</span>
          </div>
        </div>

        <h2>Wybierz podkategorie</h2>
        <div class="categories">
          <div class="category-tile"
               [class.category-tile]="!isSubCategorySelected('Festiwale')"
               [class.category-tile-activated]="isSubCategorySelected('Festiwale')"
               (click)="toggleCategory('subCategory','Festiwale')">
            <span>Festiwale</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isSubCategorySelected('Pop')"
               [class.category-tile-activated]="isSubCategorySelected('Pop')"
               (click)="toggleCategory('subCategory','Pop')">
            <span>Pop</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isSubCategorySelected('Rock')"
               [class.category-tile-activated]="isSubCategorySelected('Rock')"
               (click)="toggleCategory('subCategory','Rock')">
            <span>Rock</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isSubCategorySelected('Jazz_blues')"
               [class.category-tile-activated]="isSubCategorySelected('Jazz_blues')"
               (click)="toggleCategory('subCategory','Jazz_blues')">
            <span>Jazz/Blues</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isSubCategorySelected('Metal')"
               [class.category-tile-activated]="isSubCategorySelected('Metal')"
               (click)="toggleCategory('subCategory','Metal')">
            <span>Metal</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isSubCategorySelected('Disco_polo')"
               [class.category-tile-activated]="isSubCategorySelected('Disco_polo')"
               (click)="toggleCategory('subCategory','Disco_polo')">
            <span>Disco polo</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isSubCategorySelected('Techno/Elektro')"
               [class.category-tile-activated]="isSubCategorySelected('Techno/Elektro')"
               (click)="toggleCategory('subCategory','Techno/Elektro')">
            <span>Techno/Elektro</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isSubCategorySelected('Muzyka Klasyczna')"
               [class.category-tile-activated]="isSubCategorySelected('Muzyka Klasyczna')"
               (click)="toggleCategory('subCategory','Muzyka Klasyczna')">
            <span>Muzyka klasyczna</span>
          </div>
          <div class="category-tile"
               [class.category-tile]="!isSubCategorySelected('Inne')"
               [class.category-tile-activated]="isSubCategorySelected('Inne')"
               (click)="toggleCategory('subCategory','Inne')">
            <span>Inne</span>
          </div>
        </div>

        <h2>Data wydarzenia</h2>
        <div class="date-container">
          <div class="input-container input-date">
            <input type="date" class="input-field" id="startDate" name="startDate" [(ngModel)]="startDate">
            <label for="startDate" class="input-label">Start wydarzenia</label>
          </div>

          <div class="input-container input-date">
            <input type="time" class="input-field" id="startDateTime" name="endDate" [(ngModel)]="startDateTime">
            <label for="startDateTime" class="input-label">o godzinie (opcjonalne)</label>
          </div>

          <div class="input-container input-date">
            <input type="date" class="input-field" id="endDate" name="endDate" [(ngModel)]="endDate">
            <label for="endDate" class="input-label">Koniec (opcjonalne)</label>
          </div>

          <div class="input-container input-date">
            <input type="time" class="input-field" id="endDateTime" name="endDate" [(ngModel)]="endDateTime">
            <label for="endDateTime" class="input-label">o godzinie (opcjonalne)</label>
          </div>
        </div>
        <div class="next-btn" (click)="toggleCreatorPanel('location')">
          <span>Dalej</span>
        </div>
      </div>

      <!--Step 2.-->
      <div class="location" *ngIf="locationVisible">
        <h2>Dane lokalizacji</h2>
        <input type="text" class="input-normal" [(ngModel)]="eventCity"
               name="eventCity" id="eventCity"
               placeholder="Wprowadź nazwę miasta">

        <input type="text" class="input-normal" [(ngModel)]="eventPlace"
               name="eventPlace" id="eventPlace"
               placeholder="Wprowadź nazwę lokalu/miejsca np. Kraków EXPO">

        <div class="panel-btn-group">
          <div class="next-btn border-right-0" (click)="toggleCreatorPanel('basicInfo')">
            <span>Wstecz</span>
          </div>
          <div class="next-btn border-left-0" (click)="toggleCreatorPanel('poster')">
            <span>Dalej</span>
          </div>
        </div>

      </div>

      <!--Step 3.-->
      <div class="promo-image" *ngIf="posterVisible">
        <h2>Plakat promocyjny</h2>

        <input type="text" class="input-normal" [(ngModel)]="promoImage"
               name="promoImage" id="promoImage"
               placeholder="Wprowadź url zawierający plik z grafiką">

        <h3>lub</h3>

        <div class="promo-image-add-container">
          <div class="align-center-column">
            <i class="fa-solid fa-plus icon-large"></i><h4>Przeciągnij i upuść plik tutaj</h4>
          </div>
        </div>

        <div class="panel-btn-group">
          <div class="next-btn border-right-0" (click)="toggleCreatorPanel('location')">
            <span>Wstecz</span>
          </div>
          <div class="next-btn border-left-0" (click)="toggleCreatorPanel('additionalInfo')">
            <span>Dalej</span>
          </div>
        </div>
      </div>

      <!--Step 4.-->
      <div class="additional-info" *ngIf="additionalInfoVisible">
        <h2>Dodatkowe informacje</h2>

        <textarea
          class="additional-info-ta"
          [(ngModel)]="additionalInfo"
          name="additionalInfo"
          id="additionalInfo"
          cols="30"
          rows="10"
          placeholder="Wprowadź dodatkowe informacje o wydarzeniu."
        ></textarea>

        <div class="panel-btn-group">
          <div class="next-btn border-right-0" (click)="toggleCreatorPanel('poster')">
            <span>Wstecz</span>
          </div>
          <div class="next-btn border-left-0" (click)="toggleCreatorPanel('details')">
            <span>Dalej</span>
          </div>
        </div>

      </div>


      <!--Step 5.-->
      <div class="tickets" *ngIf="detailsVisible">
        <h2>Bilety</h2>
        <div class="ticket">
          <div class="section section-left">
            <div>
              <h3 style="font-size: 20px; color: var(--third-color)">Top Top VIP</h3>
              <span>21-24.08.2023</span>
            </div>
          </div>
          <div class="section">
            <span>100 Bilet(ów)</span>
          </div>
          <div class="section">
            <span>150 zł</span>
          </div>
          <div class="section section-right">
            <i class="fa-solid fa-pen icon-ticket icon-ticket-edit"></i>
            <i class="fa-solid fa-trash icon-ticket icon-ticket-delete"></i>
          </div>
        </div>

        <div class="align-center-column">
          <div class="ticket-add-button">
            <i class="fa-solid fa-plus icon-large"></i>
            <h4>Dodaj nowy typ biletu</h4>
          </div>
        </div>

        <div class="panel-btn-group">
          <div class="next-btn border-right-0" (click)="toggleCreatorPanel('additionalInfo')">
            <span>Wstecz</span>
          </div>
          <div class="next-btn border-left-0" (click)="toggleCreatorPanel('artists')">
            <span>Dalej</span>
          </div>
        </div>

      </div>


      <!--Step 6.-->
      <div class="tickets" *ngIf="artistsVisible">
        <h2>Dodaj artystów z bazy dostępnych artystów</h2>

        <div class="artists">
<!--          <h2 id="artists">Artyści bioracy udział w wydarzeniu</h2>-->
          <div class="slider-container">
            <div class="slider">
            <!--Artist circle-->
              <div class="artist-wrapper">
                <div class="artist-circle">
                  <img src="./assets/img/sopot.jpg" alt="img-artist"/>
                </div>
                <h3>Tede</h3>
                <button class="read-more-button">
                  <i class="fa-solid fa-trash icon"></i>
                </button>
              </div>
              <!--Add artist circle-->
              <div class="artist-wrapper">
                <div class="artist-circle-add">
                  <i class="fa-solid fa-plus icon-large"></i>
                </div>
              </div>

            </div>
          </div>
        </div>

        <h2>Utwórz nowego artystę (opcjonalne)</h2>
        <div class="align-left-row">
          <div class="artist-wrapper">
            <div class="artist-circle-add">
              <i class="fa-solid fa-plus icon-large"></i>
            </div>
          </div>
        </div>

        <div class="panel-btn-group">
          <div class="next-btn border-right-0" (click)="toggleCreatorPanel('details')">
            <span>Wstecz</span>
          </div>
          <div class="next-btn border-left-0">
            <span>Utwórz wydarzenie</span>
          </div>
        </div>

      </div>
    <!--Creator panel end-->
    </div>

  <!--Panel div reports end-->
  </div>

</div>
