.content{
  padding: 20px 0px;
  max-width: 1200px;
  margin: 0 auto;
}
.content h1{
  padding: 25px 50px 0 50px;
  width: 100%;
}
.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.spacer{
  border: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .content{
    padding: 20px 5px;
  }

}

/*Local events*/
.local{
  width: 100%;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

/*.popular*/
/*{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*  flex-wrap: wrap;*/
/*}*/

.button-style
{
  color: var(--secondary-color);
  /*background-color: var(--main-bg-color);*/
  border: none;
}

h1{
  color: var(--third-color);
  font-weight: 500;
}

.align-center-column button{
  text-transform: uppercase;
  background-color: transparent;
  width: 30%;
  padding: 10px 0px;
  border: 1px solid #ccc;
  color: #6b6b6b;
  transition: all 0.3s ease-in-out;
}
.align-center-column button:hover{
  border: 1px solid var(--third-color);
  color: var(--third-color);
  transition: all 0.3s ease-in-out;
}
